# Explore mRNA Half-Life Dataset

## Format Data for Pandas

In [8]:
file_path = 'all_HLs_human.txt'

with open(file_path) as inf:
    lines = []
    for line in inf:
        line = line.strip()
        line_items = line.split()
        lines.append(line_items)

with open('mRNA_half_life.csv', 'w') as outf:
    for line in lines:
        outf.write(','.join(line) + '\n')

In [10]:
import pandas as pd

mRNA_df = pd.read_csv('mRNA_half_life.csv')

print(mRNA_df.shape)
mRNA_df.head()

(19503, 56)

,ensembl_gene_id,external_gene_name,Bazzini_ActD_HEK293_1,Bazzini_ActD_HeLa_1,Bazzini_ActD_RPE_1,Bazzini_4sU_K562_1,Akimitsu_BrU_HeLa_1,Rinn_ActD_K562_1,Rinn_ActD_K562_2,Rinn_ActD_K562_3,...,Gejman_4sU_GM07019_1,Gejman_4sU_GM12812_1,Gejman_4sU_GM12814_1,Gejman_4sU_GM12815_1,Simon_4sU_K562_1,Simon_4sU_K562_2,Rissland_4sU_HEK293_1,Rissland_4sU_HEK293_2,Rissland_4sU_HEK293_3,Rissland_4sU_HEK293_4
0,ENSG00000000003,TSPAN6,0.037852,-0.014375,-0.000698,NaN,1.399674,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.379425,0.846330,1.232306,2.027084
1,ENSG00000000005,TNMD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ENSG00000000419,DPM1,0.031104,-0.012166,0.009681,0.926119,0.678518,1.061124,1.028489,1.068455,...,0.790285,0.698101,0.579784,0.800717,0.52204,0.47372,0.827664,-0.386923,-0.312047,0.801773
3,ENSG00000000457,SCYL3,-0.038261,0.078983,0.114278,0.691069,0.389166,0.252160,0.235797,0.385098,...,0.454845,0.495544,0.414973,0.376577,NaN,NaN,0.814521,NaN,NaN,0.496395
4,ENSG00000000460,C1orf112,0.028782,-0.010404,0.077294,0.967706,NaN,0.673479,0.669080,0.688535,...,0.914343,0.999131,0.926342,0.685742,NaN,NaN,0.953871,-0.212833,-0.304064,1.002363